<!DOCTYPE html>
<html>
    <head>		
    		<meta name="description" content="{{page.description}}">	
			{% for csslib in csslibs %}
		            <link href="{{ csslib.location }}" rel="stylesheet" />
			{% endfor %}

			{% for javascriptlib in javascriptlibs %}
		            <script type="text/javascript" src="{{javascriptlib.location}}"></script>
			{% endfor %}
			
			<title>{{page.pagetitle}}</title>
    </head>

   {% block content %}{% endblock %}
</html>