<!DOCTYPE html>
<html>
    <head>			
			{% for csslib in csslibs %}
		            <link href="{{ csslib.location }}" rel="stylesheet" />
			{% endfor %}

			{% for javascriptlib in javascriptlibs %}
		            <script type="text/javascript" src="{{javascriptlib.location}}"></script>
			{% endfor %}
			
			<title>Starter Template for Bootstrap</title>
    </head>

   {% block content %}{% endblock %}
</html>